:root {
  --PrimaryColor: hsl(0, 100%, 60%);
  --SecondaryColor: hsl(210, 100%, 59%);
  --HoverCOlor: #f95454;
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(240, 1%, 48%);
  --bgColor: hsl(220, 10%, 94%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
  --itemCardColor: hsl(120, 5%, 88%);
  --itemCardHover: hsl(120, 27%, 87%);
  /* Font and Typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.25rem;
  --h2FontSize: 1rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}

.usersboard-container {
  font-family: Arial, sans-serif;
}

.usersboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  background-color: var(--HoverCOlor);
  color: white;
}

.search-section {
  flex: 1;
}

.search-bar {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: none;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-details {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.username-role {
  text-align: right;
}

.username {
  font-weight: bold;
}

.user-role {
  font-size: 12px;
}

.usersboard-content {
  padding: 20px;
}

.tabs {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add-button,
.export-button {
  padding: 10px 20px;
  background-color: var(--HoverCOlor);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-left: auto;
}

.export-button {
  background-color: palegreen;
  color: black;
}
